[Unit]
Description=Sensor Force Service
After=mosquitto.service multi-user.target

[Service]
User=pi
Type=idle
ExecStart=/usr/bin/python3 /home/pi/hangboard/backend/sensor_force.py 
StandardOutput=file:/var/log/sensor_force_stdout.log
StandardError=file:/var/log/sensor_force_stderr.log

[Install]
WantedBy=multi-user.target