[Unit]
Description=Hangboard Assets Delivery Service
After=mosquitto.service multi-user.target

[Service]
User=pi
Type=idle
WorkingDirectory=/home/pi/hangboard/backend/asseets-delivery
ExecStart=flask run --port=5000 --host=0.0.0.0
StandardOutput=file:/var/log/assets_delivery_stdout.log
StandardError=file:/var/log/assets_delivery_stderr.log
Restart=always

[Install]
WantedBy=multi-user.target
