<!DOCTYPE html>
<head>
    <title>Hangboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="header"><h1 class="header__logo">Hangboard</h1></div>
    <main class="main">
        {% block content %}

        {% endblock %}
    </main>
</body>
