{%  extends "base.jinja2" %}

{% block content %}
    <h2 class="heading">Exercise</h2>

    <span class="timer" id="timer">{{ exercise }}s</span>
    <progress max="{{ exercise }}" value="{{ exercise }}" class="progress progress--set" id="progressBar"></progress>

    <script type="application/javascript">
        const timerElement = document.getElementById("timer");
        const progressBar = document.getElementById("progressBar")

        var timerCounter = progressBar.max;

        const interval = setInterval(() => {
            if (timerCounter === 0) {
                window.location.href = "{{ url_for('rest') }}";
                clearInterval(interval);
            }

            timerCounter = timerCounter - 1;
            
            timerElement.innerText = timerCounter + "s";
            progressBar.value = timerCounter;
        }, 1000);
    </script>
{% endblock %}
