{% extends "base.jinja2" %}

{% block content %}
    <h2 class="heading">Welcome</h2>

    <form class="form" method="post">
            <label class="form__label" for="exercise">Exercise:</label>
            <input class="form__input" type="number" name="exercise" id="exercise" value="45"/>
            <span class="units">(seconds)</span>

            <label class="form__label" for="rest">Rest:</label>
            <input class="form__input" type="number" name="rest" id="rest" value="15"/>
            <span class="units">(seconds)</span>

            <label class="form__label" for="sets">Sets:</label>
            <input class="form__input" type="number" name="sets" id="sets" value="6"/>
            
        <div class="form__button-container">
            <button class="button" type="submit">Start!</button>
        </div>
    </form>
{% endblock %}
