<!DOCTYPE html>
<html>
<head>

	<style>
		.jug-left {
			position: relative;
			top: -200px;
			left: 50px;
			width: 80px;
			background-color:rgba(255,255,0,0.5);
			padding: 20px;
		}
		.jug-right {
			position: relative;
			top: -240px;
			left: 800px;
			width: 80px;
			background-color:rgba(255,255,0,0.5);
			padding: 20px;
		}
	</style>
</head>
<body>

<div>
<!--	 <img id="board1" src="{{url_for('static', filename='zlagboard.jpg')}}" > 
	-->
	 <img id="board" src="https://www.outdoor-climbing.de/media/image/product/25969/md/zlagboard-pro_2~2.jpg">
<canvas id="myCanvas" style="width: 50%"> Your browser does not support the HTML5 canvas tag. </canvas>

<script>
window.onload = function() {
    var canvas = document.getElementById("myCanvas");
    var ctx = canvas.getContext("2d");
   //var img = document.getElementById("board");
 var img = new Image();
 img.src = "https://www.outdoor-climbing.de/media/image/product/25969/md/zlagboard-pro_2~2.jpg";

 img.onload = function ()
 {
	ctx.drawImage(img, 10, 10);

 }  ;
 

 //ctx.drawImage(img, 0, 0);

  ctx.fillStyle='#fa002f';    // color of fill
  ctx.globalAlpha = 0.5;       
  ctx.fillRect(10, 10, 140, 50); // create rectangle  
  ctx.fillRect(100, 100, 140, 50); // create rectangle  

};
</script>
</div>






</body>
</html>
