
<!DOCTYPE html>
<html>
<body>

<p>Image to use:</p>

<img style="display:none" id="scream" src="https://zlagboard.com/assets/web/Zlagboard_EVO-newscreen2x-p-1080-c3391b04966ddf8817f18c12f7c77f85885eeabc6578d660c6ac279b37a454d7.png
" alt="The Scream">

<p>Canvas:</p>
<canvas id="myCanvas" style="border:1px solid #d3d3d3;">
Your browser does not support the HTML5 canvas tag.
</canvas>

<script>
window.onload = function() {
 var c = document.getElementById("myCanvas");
 var ctx = c.getContext("2d");
 var img = document.getElementById("scream");
// ctx.drawImage(img, 10, 10);

//ctx.drawImage(img, 0, 0, img.width,    img.height,     // source rectangle
           //       0, 0, c.width, c.height); // destination rectangle

var canvas = c;


   // get the scale
   var scale = Math.min(canvas.width / img.width, canvas.height / img.height);
   // get the top left position of the image
   var x = (canvas.width / 2) - (img.width / 2) * scale;
   var y = (canvas.height / 2) - (img.height / 2) * scale;
   ctx.drawImage(img, x, y, img.width * scale, img.height * scale);




ctx.fillStyle='#fa002f';    // color of fill
ctx.globalAlpha = 0.5;       
ctx.fillRect(10, 10, 140, 50); // create rectangle  
ctx.fillRect(100, 10, 140, 50); // create rectangle  



}
</script>

</body>
</html>





