<!DOCTYPE html>
<html>
<head>
	<title>Hangboard</title>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


	<!--- Load Audio Files -->
	<script>
		var one = new Audio('{{url_for('static', filename='sounds/1.mp3')}}');
		var two = new Audio('{{url_for('static', filename='sounds/2.mp3')}}');
		var three = new Audio('{{url_for('static', filename='sounds/3.mp3')}}');
		var four = new Audio('{{url_for('static', filename='sounds/4.mp3')}}');
		var five = new Audio('{{url_for('static', filename='sounds/5.mp3')}}');
		var six = new Audio('{{url_for('static', filename='sounds/6.mp3')}}');
		var seven = new Audio('{{url_for('static', filename='sounds/7.mp3')}}');
		var eight = new Audio('{{url_for('static', filename='sounds/8.mp3')}}');
		var nine = new Audio('{{url_for('static', filename='sounds/9.mp3')}}');
		var ten = new Audio('{{url_for('static', filename='sounds/10.mp3')}}');
		var done = new Audio('{{url_for('static', filename='sounds/done.mp3')}}');
		var failed = new Audio('{{url_for('static', filename='sounds/failed.mp3')}}');
	</script>

	<!--- Visualize Progress -->
	<script>
		var source = new EventSource("/progress");
	
		source.onmessage = function(event) {
			var parsed = JSON.parse(event.data);
			var completed = parsed.Completed;

			$('.progress-bar').css('width', completed+'%').attr('aria-valuenow', completed);
			$('.progress-bar-label').text(completed+'% of ' + parsed.Duration + "(s)");
			var togo = parsed.Duration-parsed.Counter;
			$('.exercise-label').text("Exercise: " + parsed.Type + " for " + parsed.Duration + "(s) and still " + togo + "(s) remaining.");

			if (parsed.Left != "") { A1.setAttribute("display","inline") } else { A1.setAttribute("display","none") }
			if (parsed.Right != "") { A7.setAttribute("display","inline")  } else { A7.setAttribute("display","none") }			

			if (togo == 10) { ten.play() ; }		
			if (togo == 9) { nine.play() ; }		
			if (togo == 8) { eight.play() ; }		
			if (togo == 7) { seven.play() ; }		
			if (togo == 6) { six.play() ; }		
			if (togo == 5) { five.play() ; }		
			if (togo == 4) { four.play() ; }		
			if (togo == 3) { three.play() ; }		
			if (togo == 2) { two.play() ; }		
			if (togo == 1) { one.play() ; }		
			if (togo == 0) { done.play() ; }		

		}
	</script>

	<!--- Load Board Image -->
	<script>
		document.addEventListener("onload",inlineSVG(),false)
		function inlineSVG()
		{
			var SVGFile="{{url_for('static', filename='zlagboard_evo.svg')}}"
			var loadXML = new XMLHttpRequest;
			function handler(){
			if(loadXML.readyState == 4 && loadXML.status == 200)
				svgInlineDiv.innerHTML=loadXML.responseText
			}
			if (loadXML != null){
				loadXML.open("GET", SVGFile, true);
				loadXML.onreadystatechange = handler;
				loadXML.send();
			}
		}
	</script>

</head>
<body>

	<!--- Navigation Bar -->
	<ul class="nav nav-tabs">
		<li class="nav-item">
		  <a class="nav-link active" aria-current="page" href="#">Exercise</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" href="#">Select Extercise</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" href="#">Weight Measurement</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Velocity Measurement</a>
		</li>
	  </ul>


	<!--- Exercise Info -->
  	<div class="alert alert-light" role="alert">
		<span class="exercise-label">Exercise: </span>
	</div>

	
	<!--- Progress Bar and Board with Holds-->
	<div style="margin: 50px;">
		<div class="progress" style="width: 50%;">
			<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
				<span class="progress-bar-label">0%</span>
			</div>
		</div>

		<div style="width: 30%;">
			<div id="svgInlineDiv" style="width: 30%;"></div>
		</div>
	</div>

	<!--- Exercise Controls -->
	<div>
        <form method="post" action="/">
                <input type="submit" class="btn btn-primary" value="Start" name="Start"/>
                <input type="submit" class="btn btn-danger" value="Stop" name="Stop" />
        </form>
	</div>

</body>
</html>
