<!DOCTYPE html>
<html>
<head>
	<title>Hangboard</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<!--- Progress Bar -->
	<script>
		var source = new EventSource("/progress");
		source.onmessage = function(event) {
			$('.progress-bar').css('width', event.data+'%').attr('aria-valuenow', event.data);
			$('.progress-bar-label').text(event.data+'%');

			if(event.data == 100){
				source.close()
			}
		}
	</script>
	<style>
		.jug-left {
			position: relative;
			top: -200px;
			left: 50px;
			width: 80px;
			background-color:rgba(255,255,0,0.5);
			padding: 20px;
		}
		.jug-right {
			position: relative;
			top: -240px;
			left: 800px;
			width: 80px;
			background-color:rgba(255,255,0,0.5);
			padding: 20px;
		}
	</style>
</head>
<body>
	<!--- Progress Bar -->
	<div style="margin: 50px;">
		<div class="progress" style="width: 50%;">
			<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
				<span class="progress-bar-label">0%</span>Test
			</div>
		</div>

		<div>
			<img style="width: 50%" src="{{url_for('static', filename='zlagboard.jpg')}}" />
			<div class="jug-left"></div>
			<div class="jug-right"></div>
		</div>
	</div>

	<div>
        <form method="post" action="/">
                <input type="submit" value="Encrypt" name="Encrypt"/>
                <input type="submit" value="Decrypt" name="Decrypt" />
        </form>
	</div>


</body>
</html>
