[Unit]
Description=Hangboard Board Service
After=network.target multi-user.target

[Service]
User=pi
WorkingDirectory=/home/pi/hangboard/boards
Type=idle
ExecStart=flask run --port=5000 --host=0.0.0.0
Restart=always
StandardOutput=file:/var/log/board_stdout.log
StandardError=file:/var/log/board_stderr.log

[Install]
WantedBy=multi-user.target
