<!DOCTYPE html>
<html>
<head>
	
	<title>Hangboard</title>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">


	<!-- Global variables -->
	<script>
		var boardimagename = "";
		var boardname = "";
		var timerstatus = false; // Means timer is currently running
		//var ServerName = "10.101.40.81";
		var ServerName = "127.0.0.1";
		var HangboardName = "TO BE IMPLEMENTED - STATIC ZLAGBOARD EVO";
	</script>


	<!-- Configure Server Name-->
	<script>

		function doConfigServerName()
		{
		  var nameElement = document.getElementById("ServerName");
		  var ServerName = nameElement.value;
		  document.getElementById("ServerNameField").innerHTML = "Server Name: " + ServerName;
		}
	</script>

	<!-- Configure Hangboard Name-->
	<script>

		function doConfigHangboardName()
		{
		  var nameElement = document.getElementById("HangboardName");
		  var HangboardName = nameElement.value;
		  document.getElementById("HangboardNameField").innerHTML = "Hangboard Name: " + ServerName;
		}
	</script>

	<!-- Websocket to backend server -->
	<script>
		var wsExercise = new WebSocket("ws://" + ServerName + ":4321/");
		var wsGyroscope = new WebSocket("ws://10.101.40.81:4323/");
		//var wsGyroscope = new WebSocket("ws://" + ServerName + ":4323/");
		var wsForce = new WebSocket("ws://10.101.40.40:4322/");
		//var wsBoard = new WebSocket("ws://10.101.40.81:4324/");
		var wsBoard = new WebSocket("ws://" + ServerName + ":4324/");

		function sendStartSignal ()
		{
			wsExercise.send ("Start");
		}

		function sendStopSignal ()
		{
			wsExercise.send ("Stop");
		}

		function sendGetBoard ()
		{
			wsExercise.send ("GetBoard");
		}

		function sendStartCalibration ()
		{
			wsGyroscope.send ("StartCalibration");
		}

		function sendStopCalibration ()
		{
			wsGyroscope.send ("StopCalibration");
		}

		function sendListWorkouts ()
		{
			wsExercise.send ("ListWorkouts");
		}

		function sendListHangboards ()
		{
			wsExercise.send ("ListHangboards");
		}

		function sendStartHang ()
		{
			//wsExercise.send ("StartHang");
			starthang.play() ;
		}

		function sendStopHang ()
		{
			//wsExercise.send ("StopHang");
			stophang.play() ;
		}
	</script>


	<!--- Load Audio Files -->
	<script>
		var one = new Audio('{{url_for('static', filename='sounds/1.mp3')}}');
		var two = new Audio('{{url_for('static', filename='sounds/2.mp3')}}');
		var three = new Audio('{{url_for('static', filename='sounds/3.mp3')}}');
		var four = new Audio('{{url_for('static', filename='sounds/4.mp3')}}');
		var five = new Audio('{{url_for('static', filename='sounds/5.mp3')}}');
		var six = new Audio('{{url_for('static', filename='sounds/6.mp3')}}');
		var seven = new Audio('{{url_for('static', filename='sounds/7.mp3')}}');
		var eight = new Audio('{{url_for('static', filename='sounds/8.mp3')}}');
		var nine = new Audio('{{url_for('static', filename='sounds/9.mp3')}}');
		var ten = new Audio('{{url_for('static', filename='sounds/10.mp3')}}');
		var done = new Audio('{{url_for('static', filename='sounds/done.mp3')}}');
		var failed = new Audio('{{url_for('static', filename='sounds/failed.mp3')}}');
		var ready = new Audio('{{url_for('static', filename='sounds/ready.mp3')}}');
		var starthang = new Audio('{{url_for('static', filename='sounds/starthang.mp3')}}');
		var stophang = new Audio('{{url_for('static', filename='sounds/stophang.mp3')}}');
	</script>

	<!-- Connection to Sensors: Gyroscope -->
	<script>
		wsGyroscope.onmessage = function(event) {
			var parsed = JSON.parse(event.data);
			$('.sensor-label').text("X: " + parsed.AngleX + " Y: " + parsed.AngleY 
			+ " NoHang: " + parsed.AngleX_NoHang + " Hang: " + parsed.AngleX_Hang
			+ " HangDetected: " + parsed.HangDetected + "HangStateChanged: " + parsed.HangStateChanged);

			$('.last-hang-label').text("Last Hang Time: " + parsed.LastHangTime + " (s)   Last Pause Time " + parsed.LastPauseTime + "(s)");

			// Play sounds on start and stop of hang
			if (parsed.HangStateChanged == true)
			{
				if (parsed.HangDetected == true) 
				{ 	
					starthang.play() ; 
					document.getElementById("MainView").style.backgroundColor = "greenyellow";
					//document.getElementById("hang-detected").className = "alert alert-success"; 
					//$('.hang-detected-label').text("Hang detected"); 
				}
				if (parsed.HangDetected == false) 
				{ 
					stophang.play() ; 
					document.getElementById("MainView").style.backgroundColor = "red";
					//document.getElementById("hang-detected").className = "alert alert-light"; 
					//$('.hang-detected-label').text("Pause detected"); 
				}
			}
		}
	</script>

	<!-- Create a dynamic list-->
	<script>
		function makeUL(array) {
			var list = document.createElement('ul');

			for (var i = 0; i < array.length; i++) {
				var item = document.createElement('li');
				var a = document.createElement('a');
				//a.href = "http://example.com";
				a.title = array[i].ID;
				a.onclick = sendStartSignal();
				a.appendChild(document.createTextNode(array[i].ID + " " + array[i].Name));
				// TODO: send exercises number to backend
				//item.appendChild(document.createTextNode(array[i].ID + '< a href="">test</a>'));
				//item.appendChild(document.createTextNode(array[i].Name));
				list.appendChild(item);
				item.appendChild(a);

			}

			return list;
		}
	</script>


	<!--- Visualize Progress of an Exercise -->
	<script>
		wsExercise.onmessage = function(event) {
			var parsed = JSON.parse(event.data);
			console.log (parsed);

			var completed = 0

			if ("WorkoutName" in parsed)
			{
				$('.workout-label').text("Workout Name: " + parsed.WorkoutName);
			}

			if ("CurrentExercise" in parsed)
			{
				$('.current-exercise-label').text("Current Exercise: " + parsed.CurrentExercise + " " + parsed.CurrentExerciseCounter + " (s) - Current Rep: " + parsed.CurrentSetRep + " of " + parsed.CurrentSetRepTotal);
			}

			if ("CurrentSet" in parsed)
			{
				$('.current-set-label').text("Current Set: " + parsed.CurrentSet + " of " + parsed.TotalSets + " ");
			}

			if ("TimerStatus" in parsed)
			{
				completed = parsed.Completed;

				boardimagename = parsed.BoardImageName;
				boardname = parsed.BoardName;
				timerstatus = parsed.TimerStatus;
				
				$('.progress-bar').css('width', completed+'%').attr('aria-valuenow', completed);
				$('.progress-bar-label').text(completed+'% of ' + parsed.Duration + "(s)");
				var togo = parsed.Duration-parsed.Counter;
				$('.exercise-label').text("Exercise: " + parsed.Exercise + " for " + parsed.Duration + "(s) and still " + togo + "(s) remaining.");

				// Play Sound
				if (parsed.TimerStatus == false) 
				{
					if (togo == 10) { ten.play() ; }		
					if (togo == 9) { nine.play() ; }		
					if (togo == 8) { eight.play() ; }		
					if (togo == 7) { seven.play() ; }		
					if (togo == 6) { six.play() ; }		
					if (togo == 5) { five.play() ; }		
					if (togo == 4) { four.play() ; }		
					if (togo == 3) { three.play() ; }		
					if (togo == 2) { two.play() ; }		
					if (togo == 1) { one.play() ; }		
					if (togo == 0) { 
						if (parsed.Exercise == "Pause")
						{
							ready.play();
							// TBD: Ready for hang overwrite colors?
							document.getElementById("MainView").style.backgroundColor = "dodgerblue";
						}
						else
						{
							done.play() ;
						}						 
					}		
				}

				// Highlight holds to be used
				var array = parsed.HoldsActive; 
				array.forEach(element => console.log(element));
				array.forEach(element => window[element].setAttribute("display","inline") );

				var array = parsed.HoldsInactive;
				array.forEach(element => console.log(element));
				array.forEach(element => window[element].setAttribute("display","none") );

			}

			// Update list of workouts
			if ("WorkoutList" in parsed)
			{
				document.getElementById('ListExercises').appendChild(makeUL(parsed.WorkoutList));
				$('.list-label').text("oikok"); //parsed.WorkoutList);
			}
		}
	</script>

	<!--- Load Board Image -->
	<script>
		document.addEventListener("onload",inlineSVG(),false)
		function inlineSVG()
		{
			var SVGFile="{{url_for('static', filename='zlagboard_evo.svg')}}"
			var loadXML = new XMLHttpRequest;
			function handler(){
			if(loadXML.readyState == 4 && loadXML.status == 200)
				svgInlineDiv.innerHTML=loadXML.responseText
			}
			if (loadXML != null){
				loadXML.open("GET", SVGFile, true);
				loadXML.onreadystatechange = handler;
				loadXML.send();
			}
			sendGetBoard();
		}
	</script>

</head>
<body>

	<!--- Navigation Bar -->
	<ul class="nav nav-tabs">
		<li class="nav-item">
		  <a class="nav-link" aria-current="page" href="/">Exercise</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link disabled" href="/selectexercise" tabindex="2">Select Exercise</a>
		</li>
		<li class="nav-item">
			<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Assessment</a>
		</li>		
		<li class="nav-item">
			<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Weight Measurement</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Velocity Measurement</a>
		</li>
		<li class="nav-item">
			<a class="nav-link active" href="/calibration" tabindex="3">Calibration</a>
		</li>		
		<li class="nav-item">
			<a class="nav-link active" href="/config" tabindex="3">Config</a>
		</li>	
	</ul>


      {% block content %}{% endblock %}



</body>
</html>
