*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    font-family: "Lato", Helvetica, sans-serif;
}

body {
    box-sizing: border-box;
    max-width: 600px;
    margin: 0 auto;
}

.u-center-text {
    display: block;
    text-align: center;
}

.header {
    background-color: #1c2023;
    font-weight: bold;
    color: white;
    padding: .5rem 2rem;
    margin-bottom: 1.75rem;
}

.header__logo {
    font-size: 1rem;
}

.heading {
    display: block;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.timer {
    display: block;
    font-size: 4rem;
    text-align: center;
    margin-bottom: .75rem;
}

.main {
    padding: 0 1.25rem;
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1.5rem;
    column-gap: .75rem;
    align-items: center;
    font-size: 0.9rem;
    width: auto;
}

@media screen and (min-width: 26rem) {
    .form {
        grid-template-columns: 1fr auto 1fr;
    }
}

.form__button-container {
    display: grid;
    justify-content: center;
    grid-column: 1 / 4;
}

.form__input {
    max-width: 6rem;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #1c2023;
    padding: 7px 10px;
    font-size: inherit;
    justify-self: center;
}

.form__label {
    margin-right: 10px;
    font-size: 1.2rem;
    text-align: right;
}

.button {
    grid-column: 2 / 3;
    font-size: 1.2rem;
    padding: 10px 30px;
    border: 1px solid #1c2023;
    background-color: #98D4FF;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
}

.button:hover {
    background-color: #75BDF1;
}

.progress {
    display: block;
    width: 80%;
    margin: 0 auto;
    border: 1px solid #cdc7c2;
    background-image: none;
    -webkit-appearance: none;
}

.progress,
.progress::-webkit-progress-bar {
    background-color: #fff;
}

.progress--set::-webkit-progress-value {
    background-color: #F56565;
}

.progress--set::-moz-progress-bar {
    background-color: #F56565;
}

.progress--rest::-webkit-progress-value {
    background-color: #65F596;
}

.progress--rest::-moz-progress-bar {
    background-color: #65F596;
}
